body{
    overflow: hidden;
    background: darkgrey;
}

.floor{
    margin-top: calc(50vh + 200px);
    width: 100%;
    height: 50vh;
    background: lightgrey;
    position: absolute;
    z-index: -1;
    left: 0;
}

.dexter{
    width: 550px;
    height: 600px;
    position: absolute;
    margin-left: calc(50% - 275px);
    margin-top: calc(50vh - 300px);
}

.body{
    background: white;
    width: 400px;
    height: 250px;
    border: 10px solid black;
    position: absolute;
    right: 0;
    bottom: 150px;
}

.button{
    background: black;
    height: 40px;
    width: 10px;
    border-radius: 50%;
    left: 48%;
    bottom: 33px;
    position: absolute;
    transform: scale(1.6);
}

.zipper{
    width: 5px;
    background: black;
    height: 250px;
    position: absolute;
    left: 55%;
}

.arm{
    width: 158px;
    height: 153px;
    position: absolute;
    left: 61%;
    bottom: -11px;
    z-index: 2;
}

.hand{
    width: 158px;
    height: 110px;
    position: absolute;
    bottom: 0;
}

.wrist{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 90px 90px 0 0;
    border-color: #823289 transparent transparent transparent;
    transform: rotate(-130deg);
    left: 20px;
    position: absolute;
    top: -20px;
    z-index: 1;
}

.wristBorder{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 100px 100px 0 0;
    border-color: black transparent transparent transparent;
    transform: rotate(-130deg);
    left: 15px;
    position: absolute;
    top: -28px;
}

.finger{
    background: #823289;
    width: 25px;
    height: 55px;
    border: 3px solid black;
    border-radius: 0 0 40% 40% ;
    position: absolute;
}

.finger:nth-child(5){
    left: 50px;
    top: 69px;
    transform: rotate(
            -7deg
    );
}

.finger:nth-child(4){
    left: 87px;
    top: 55px;
    transform: rotate(
            -40deg
    );
}


.finger:nth-child(3){
    left: 10px;
    top: 50px;
    transform: rotate(40deg);
}

.shoulderLine{
    height: 66px;
    width: 4px;
    background: black;
    position: absolute;

}

.shoulderLine:nth-child(1){
    left: 44px;
    top: 5px;
    transform: rotate(
            5deg
    );
}

.shoulderLine:nth-child(2){
    left: 76px;
    top: 1px;
    transform: rotate(
            -2deg
    );
}

.shoe{
    width: 204px;
    height: 150px;
    position: absolute;
    left: 118px;
    bottom: 0;
    overflow: hidden;
}

.flippedShoe{
    transform: scaleX(-1);
    left: 322px;
}

.shoeTriangle1{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 200px 300px;
    border-color: transparent transparent black transparent;
    position: absolute;
    top: -114px;
    left: -78px;
    transform: rotate(
            -33deg
    );
}

.shoeTriangle2{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 500px 200px;
    border-color: transparent transparent black transparent;
    position: absolute;
    top: -405px;
    left: 70px;
    transform: rotate(
            -10deg
    );
}

.head{
    width: 483px;
    height: 372px;
    background: #FDE2D9;
    position: absolute;
    border-radius: 0 0 0 230px;
    right: 471px;
    top: 1574px;
    z-index: 3;
    border: 8px solid black;
}

.ear{
    width: 62px;
    height: 70px;
    border-radius: 50%;
    border: 0px solid black;
    background: #FDE2D9;
    position: absolute;
    right: -56px;
    top: 122px;
    transform: rotate(
            30deg
    );
}

.earBorder{
    width: 62px;
    height: 70px;
    border-radius: 50%;
    border: 6px solid black;
    background: black;
    position: absolute;
    right: -56px;
    top: 118px;
    transform: rotate(
            30deg
    );
    z-index: -1;
}

.headCircle{
    width: 2960px;
    height: 2081px;
    border-radius: 50%;
    position: absolute;
    left: -1939px;
    top: -1578px;
    overflow: hidden;
}

.borderCircle{
    width: 2960px;
    height: 2081px;
    border-radius: 50%;
    position: absolute;
    left: -2021px;
    top: -1588px;
    border: 8px solid black;
}
.borderContainer{
    width: 487px;
    height: 386px;
    position: absolute;
    border-radius: 0 0 0 230px;
    z-index: 3;
    right: 0;
    top: 1px;
    overflow: hidden;
}

.glasses{
    position: absolute;
    width: 543px;
    height: 170px;
    left: -60px;
    top: 90px;
    overflow: hidden;
}

.leftGlass{
    width: 210px;
    height: 210px;
    position: absolute;
    border-radius: 50%;
    left: 0;
    top: -100px;
    background: #7AC7E9;
    border: 20px solid black;
}

.rightGlass{
    width: 250px;
    height: 234px;
    position: absolute;
    border-radius: 50%;
    left: 230px;
    top: -114px;
    background: #7AC7E9;
    border: 20px solid black;
    z-index: 100;
}

.frame{
    height: 20px;
    width: 520px;
    background: black;
    position: absolute;
    z-index: 1000;
}

.eye{
    width: 100px;
    height: 75px;
    border-radius: 50%;
    background: black;
    position: absolute;
}

.leftEye{
    top: -27px;
    left: 122px;
}

.rightEye{
    top: -27px;
    left: 380px;
    z-index: 100;
}

.earThingy{
    width: 47px;
    height: 25px;
    background: black;
    position: absolute;
    right: -11px;
    top: 12px;
    transform: rotate(
            30deg
    );
}

.mouthNose{
    position: absolute;
    width: 163px;
    /* border: 1px solid blue; */
    height: 130px;
    left: 60px;
    top: 180px;
}


.noseTriangle{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 120px 170px 0 170px;
    border-color: #FDE2D9 transparent transparent transparent;
    position: absolute;
    top: 15px;
    left: 4px;
    transform: rotate(
            3deg
    );
    z-index: 1;
}

.noseBorder{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 120px 170px 0 170px;
    border-color: black transparent transparent transparent;
    position: absolute;
    top: 19px;
    left: 12px;
    transform: rotate(
            3deg
    ) scale(1.1);
}

.nose{
    position: absolute;
    width: 137px;
    /* border: 1px solid green; */
    height: 65px;
    overflow: hidden;
}

.mouthTriangle{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 120px 170px 0 170px;
    border-color: #FDE2D9 transparent transparent transparent;
    position: absolute;
    top: 15px;
    left: 4px;
    transform: rotate(
            3deg
    );
    z-index: 1;
}

.mouthBorder{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 120px 170px 0 170px;
    border-color: black transparent transparent transparent;
    position: absolute;
    top: 19px;
    left: 12px;
    transform: rotate(
            3deg
    ) scale(1.1);
}

.mouth{
    position: absolute;
    width: 122px;
    /* border: 1px solid green; */
    height: 65px;
    overflow: hidden;
    transform: rotate(
            150deg
    ) scaleX(-1);
    top: 39px;
    left: 28px;
}

.mouthFix{
    width: 50px;
    height: 44px;
    background: #FDE2D9;
    position: absolute;
    z-index: 10;
    left: 110px;
    top: 14px;
}

.hair{
    width: 550px;
    height: 139px;
    position: absolute;
    left: 0;
    top: -66px;
    z-index: 100;
}

.strand{
    top: -100px;
    right: -100px;
    position: absolute;
    width: 100px;
    height: 100px;
    z-index: 10000;
}

.foreHeadFix{
    background: #FDE2D9;
    width: 162px;
    height: 80px;
    position: absolute;
    z-index: 1000000000;
    right: 0;
    top: -1px;
}

.hair1{
    position: absolute;
    left: -4px;
    bottom: -45px;
    font-size: 80px;
    transform: rotate(
            70deg
    ) scaleY(2);
}

.hairSvg{
    position: absolute;
    width: 652px;
    left: -93px;
    top: -187px;
    transform: scaleY(0.8);
}

.hair2{
    position: absolute;
    left: -4px;
    bottom: -36px;
    font-size: 80px;
    transform: rotate(
            30deg
    ) scaleY(2);
}
